<?xml version="1.0" encoding="utf-8"?>
<manifest package="www.huangheng.site.grouppurchase"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>


    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>


    <!-- 这个权限用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- 这个权限用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- 用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- SD卡读取权限，用户写入离线定位数据-->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>


    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>


    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="L35drfu1ZWH3iI4GcYbDRabWqiMRcKwH">
        </meta-data>


        <activity android:name=".view.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".view.MainActivity">
        </activity>

        <activity android:name=".view.GuideActivity">
        </activity>

        <activity android:name=".view.BaiduMapActivity">
        </activity>

        <activity android:name=".view.WebViewActivity">
        </activity>

        <activity android:name=".view.ImageGalleryActivity">
        </activity>

        <activity android:name=".view.LoginActivity">
        </activity>

        <activity android:name=".view.DetailActivity">
        </activity>

        <activity android:name=".view.FavoriteActivity">
        </activity>

        <activity
            android:name=".view.CityListActivity"
            android:windowSoftInputMode="adjustPan">
        </activity>

        <activity android:name=".view.SearchActivity">
        </activity>

        <activity android:name=".view.RegisterActivity">
        </activity>

        <activity android:name=".view.OrderActivity">
        </activity>

        <activity android:name=".view.PayActivity">
        </activity>

        <activity android:name=".view.UnPaidedActivity">
        </activity>

        <activity android:name=".view.PersonageActivity">
        </activity>

        <activity android:name=".view.CollectActivity">
        </activity>

        <activity android:name=".view.TicketActivity">
        </activity>

        <activity android:name=".view.HistoryActivity">
        </activity>

        <activity android:name=".view.PaidedActivity">
        </activity>

        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <!-- QQ和QQ空间分享 QQ登录的回调必须要配置的 -->
            <intent-filter>
                <data android:scheme="tencent100371282"/>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <!--<meta-data android:value="Channel ID" android:name="BMOB_CHANNEL"/>-->

        <activity
            android:name="cn.bmob.v3.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
        </activity>


        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.2"/>
            </intent-filter>
        </service>


    </application>

</manifest>